
@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-RegularItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/jost/Jost-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/jost/Jost-LightItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/jost/Jost-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/jost/Jost-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/jost/Jost-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/jost/Jost-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/jost/Jost-BoldItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/jost/Jost-ExtraBoldItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 800;
}
